.summary{
    text-align: center;
  max-width: 650px;
  width: 90%;
  margin: auto;
  margin-top: -150px;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 7px;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  display: grid;
}
.summary h2 {
    font-size: 2rem;
    margin-top: 0;
    color: white;
  }